.container {
  width: 100%;
}

.site {
  width: 1000px;
  margin: 0 auto;
}

#home {
  position: relative;
}

#logo {
  width: 75px;
  height: 75px;
  background: red;
  color: green;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0;
}

#nav {
  display: inline-block;
  width: 100px;
  padding-left: 115px;
  list-style: none;
}

.img-row img {
  width: 25%;
}
