<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="tk-proxima-nova">
<head>
  <script type="text/javascript" src="//use.typekit.net/kgt2mdj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Lani DuVall" />
  <meta name="description" content="Lani DuVall portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<body class="tk-proxima-nova">
  <div class="container">
    <div class="site">
      <div id="home">
        <header>
          <div id="logo">
            <a href="/"><img src="/img/logo.jpg"/></a>
          </div>
          <ul id="nav">
            <li><a href="http://twitter.com/lani_duvall">Twitter</a></li>
            <li><a href="mailto:laniduvall@rocketmail.com">Contact</a></li>
          </ul>
        </header>
        <nav>
          <h2>Projects</h2>
          <ul id="project-list">
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <div id="content-container">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/fastclick.js"></script>
  <script type="text/javascript">
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
  </script>
</body>
</html>
